@import "tailwindcss";

* {
    /* border: 1px solid red; */
}

.font-sans {
    font-family: "DM Sans";
}

.font-lora {
    font-family: "Lora";
}

body {
    cursor: url('/public/assets/cursor-arrow.svg'), auto;
}

.hero-sec {
    cursor: url('/public/assets/cursor-pointer.svg'), auto;
}

.bg-primary {
    background: #F0EBE6;
}

.char {
    transform: translateY(var(--progress, 0%)) rotate(var(--progressTurn)) scale(var(--ratio));
    display: inline-block;

}

.char img {
    transform-origin: center;
}

.be-black {
    filter: invert(1);
    color: black;
}

.scale-animation {
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Vertical Scrolling (Equivalent to animate-infinite-scroll-y) */

@media (min-width: 1020px) {

    /* md breakpoint in Tailwind */
    .cards {
        transition: all;
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .cards:hover {
        padding-left: 100px;
        padding-right: 100px;
        rotate: 0deg;
        scale: 1.1;
    }


}
/* For Moving bars left and right */
@keyframes scroll-x {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scroll-x-reverse {
    from { transform: translateX(-50%); } 
    to { transform: translateX(0); }      
}

@keyframes scroll-y {
    from { transform: translateY(0); }
    to { transform: translateY(-148%); }
}
@keyframes scroll-y-reverse {
    from { transform: translateY(-148%); } 
    to { transform: translateY(0); }      
}



.animate-scroll-x {

    animation: scroll-x 15s linear infinite;
}
.animate-scroll-x-reverse {
    animation: scroll-x-reverse 15s linear infinite;
}


@media (min-width: 1020px) {

    .lg\:h-200vh { 
        height: 200vh !important;
    }

    .lg\:animate-scroll-y {
        animation: scroll-y 8s linear infinite;
    }

    .lg\:animate-scroll-y-reverse {
        animation: scroll-y-reverse 8s linear infinite;
    }
}