@import "tailwindcss";

.font-sans {
    font-family: "DM Sans";
}

body {
    cursor: url('/public/assets/cursor-arrow.svg'), auto;
}
.bg-primary{
    background: #F0EBE6;
}

.up{
    transform: translateY(var(--progress, 0%)) rotate(var(--progressTurn)) scale(var(--ratio));
    display: inline-block;
}
.down{
    display: inline-block;
    transform: translateY(var(--progress, 0%)) rotate(var(--progressTurn)) scale(var(--ratio));
   
}
